  #Title {
    grid-area: title;
  }
  
  h1{
    margin-bottom: 50px;
  }
  
  #submitbtn {
    background-color: greenyellow;
    font-size: large;
  }


  #form {
    display: grid;
    grid-template-columns: 200px 1fr;

  }

  #NewsSource, 
  #PublishDate,
  #Summary{
    width: 362.400px;
  }

  #submitbtn:hover{
    cursor: pointer;
  }